/*
use REM datatype so the pixels will sclae with different devices
keep in mind 4px is an absolute unit in CSS but not on all devices

you can also use the dataytpoe 10ch which translates to 10 0's basiucally a space maker
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}


html {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: scree;
    width: 100vw;
    margin: 0;
    padding: 0;
}


body * {
    background-color: #F2F0EF;
    color: ;
}

header {
    grid-area: header;
    text-align: left;
    padding: 1rem;
}

header h1 {
    margin: 0 0 8px 0;
    color: red;
    text-align: left;
}

nav ul {
    /* nav bar */
    background-color: navy;
    height: 200px;
    font-size: 1.2rem;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    border-radius: .35rem;
    padding: 12px 16px;
    place-items: center;
}

li:nth-child(2n + 2) {}

nav li {
    color: thistle;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: 3CBC8D;
    border-radius: .800rem;
    padding: 12px 16px;
}

ul:hover{
    background-color: yellow;
}

nav a {
    /* anchor tag in nav item */
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "mcontent"
    "lsidebar"
    "rsidebar"
    "footer";
}

.left-sidebar {
    background-color: #8d9db6;
    padding: 32px 16px;
    grid-area: lsidebar;
}

.main-content {
    background-color: #e44e0d;
    min-height: 75vh;
    grid-area: mcontent;
}

.right-sidebar {
    background-color: #f3eeee;
    padding: 32px 16px;
    grid-area: rsidebar;
}

.footer {
    background-color: #ffffff;
    padding: .5em;
    color: rgb(252, 248, 248);
    font-size: 2rem;
    grid-area: footer;
    height: 5em;
}

.input-group{
    padding-bottom: 4px;
}

@media screen and (min-width: 550px) {
    nav ul {
        grid-auto-flow: column;
    }

    .container {
        grid-template-areas: 
        "header header"
        "mcontent mcontent"
        "lsidebar rsidebar"
        "footer footer";
    }
}

@media screen and (min-width: 850px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "header header header"
        "mcontent mcontent mcontent"
        "footer footer footer";
    }
}

div img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.masonry {
    display: grid;
    padding: 18px;
    gap: 18px;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.square {
    grid-row: span 1;
    grid-column: span 1;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}