/*
We use a sepreate CSS file with the rel "relationship" url in our HTML 
so we do not have to use that many in-line CSS (That is CSS Stored in HTML files).
*/
h1
{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    border: darkolivegreen;
}

.input-group
{
    vertical-align: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-text
{
    padding:  4px 8px ;
    border: 1px solid #cacaca;
    border-radius: 16px;
    box-shadow: -2px 2px 1px;
}

.form-button
{
    background-color:rgb(3,159,244);
    border: none;
    padding: 4px 8px;
    border-radius: 1rem;
}

form
{
    text-align: center;
}

.valid-text {
    outline: green;
}

.invalid-text {
    outline: red;
}
