/*
We use a sepreate CSS file with the rel "relationship" url in our HTML 
so we do not have to use that many in-line CSS (That is CSS Stored in HTML files).
*/

/*
a property paired with a value is called a decleration
a set of declerations is a decleration block
decleration blocks paired with selectors are called CSS Rule Sets
*/
nav
{
    
}

body
{
    color:#7f886e;
    background-color: #c5ae96;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;    
}


h1
{
    text-align: center;
    color: #344b33;
    border: #948363;
}

footer
{
    text-align: center;
}

.grid-container
{
    display: grid;
    width: 400px;
    height: 400px;
    justify-content: space-evenly;
    grid-template-rows: repeat(3,1 fr);
    grid-template-columns: repeat(3,1fr);
}

.grid-item
{
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 250px;
}